@tailwind base;
@tailwind components;
@tailwind utilities;

.my-carousel-progress {
    background: #ccc;
  }
  
  .my-carousel-progress-bar {
    background: greenyellow;
    height: 2px;
    transition: width 400ms ease;
    width: 30%;
  }
  

  .splide__pagination{
    display: none !important ;
  }