@tailwind base;
@tailwind components;
@tailwind utilities;

.my-carousel-progress {
    background: #ccc;
}
  
  .my-carousel-progress-bar {
    background: greenyellow;
    height: 2px;
    transition: width 400ms ease;
    width: 30%;
  }
  

  .splide__pagination{
    display: none !important ;
  }

  .splide__arrow{
    background: transparent !important;
    display: contents !important;
   
    
  }
  @media screen and (max-width:500px) {
    .splide__arrows{
      right: 0% !important;
      top: -11% !important;
  
    }
  }
  .splide__arrows{
    display: flex !important;
    position: absolute;
    right: 15%;
    top: -15%;

  }


  
.btn, .btn1{
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn::after{
  content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#11190C ;
    border-radius: 20px;
    z-index: -2;
}

.btn::before{
  content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all .3s;
    border-radius: 28px;
    z-index: -1;
}

.btn:hover{
  color: #11190C;
  font-weight: 600;
 

}
.btn:hover::before{
  width: 100%;
  background-color:#E6FF00 ;
}


.btn1::after{
  content: '';
    position: absolute;
    bottom: 0;
    left: -3px;
    width: 100%;
    height: 100%;
    background-color:#E6FF00 ;
    border-radius: 24px;
    z-index: -2;
}

.btn1::before{
  content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color:#11190C ;
    transition: all .3s;
    border-radius: 28px;
    z-index: -1;
}

.btn1:hover{
  color: #E6FF00;
  font-weight: 600;
 

}
.btn1:hover::before{
  width: 100%;
}

.sticky{
  position: fixed;
  top: 0%;
  width: 100%;
  background-color: #E6FF00;
}


.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #11190C;
}

.hamburger.active span:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2){
 opacity: 0;
}

.hamburger.active span:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width:800px){
  .navMenu{
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 80px;
    align-items: center;
    background: #e6ff00;
    transition: all 0.3s ease-in-out;
    text-align: center;
    z-index: 60; 

  }

  .navbar.active{
    background-color: transparent;
    position: fixed;
  }

  .navMenu.active{
    left: 0;
    top: 0;
    height: 100%;
    background-image: url('dist/images/');
  }

  .hamburger.active{
    position: relative;
    z-index: 70;
  }

  
}

.animatex.active{
  display: none;
}
.animatexx.active{
  display: block;
}

@media screen and (max-width:1024px) {
  .splide__arrows{
    display: flex !important;
    position: absolute;
    right: 10%;
    top: -21%;

  }
}

@media screen and (max-width:320px) {
  .phone-container{
    right: -5%;
  }
}
@media screen and (max-width:375px) {
  .splide__arrows{
    display: none !important;
  }
}
@media screen and (max-width:500px) {
  .navMenu{
    gap: 30px;
  }
}